# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.installed.cfg
dist/
build/
sdist/

# Virtual environments
.venv/
env/

# Testing & coverage
.coverage
.coverage.*
htmlcov/
.cache/
.pytest_cache/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store

# uv
uv.lock

# Documentation
site/
